html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.main {
	padding: 20px;
}
.main .input-row {
	width: 450px;
	height: 40px;
	padding: 0 10px;
}
.main .input-row .dropdown-label {
	float: left;
	width: 80px;
	height: 40px;
	line-height: 40px;
}
.main .input-row .dropdown {
	float: left;
	width: 300px;
	height: 38px;
	border: 1px solid #ddd;
}






.pulldown_tree .caret-top {
	
}

.pulldown_tree .caret-bottom {
	
}

.pulldown_tree .caret-left{
	
}

.pulldown_tree .caret-right {
	
}