.doc-tree-content ul,.doc-tree-content li{
	list-style: none;
	margin: 0;
	padding: 0
}

.doc-tree-content .doc-tree-indent {
	display: inline-block;
}

.doc-tree-content .doc-tree-item-style {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 36px;
	line-height: 36px;
}

.doc-tree-content .doc-tree-item-style:hover {

	background-color: #f0f0f0;
	cursor: pointer;
}

.doc-tree-content li .doc-tree-val {
	color: #666;
}

.doc-tree-content .doc-tree-icon {
	background-image: url(../../img/img.png);
	
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 10px;
}

.doc-tree-content .doc-tree-icon-none {
	display: inline-block;
	width: 15px;
	height: 20px;
	margin-right: 10px;
}

.doc-tree-content .icon-open {
	background-position: -40px -449px;
}

.doc-tree-content .icon-close {
	background-position: -298px -449px;
}